<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atualização de Produto - ERP</title>
</head>
<body>
    <h1>Formulário de Atualização de Produtos</h1>

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {% if produto.imagem %}
        <img src="{{produto.imagem.url}}"  alt="{{produto.id}}" width="180px">
        {% endif %}

        {{ form }}

        <button type="submit">Atualizar Produto</button>

    </form>
</body>
</html>
